{%extends 'base.html'%}
{%block content%}
<a href="{%url 'home'%}" class="link-primary">Home</a>
      <h2 style="text-align: center;">{{user}} Profile</h2>
      <div class="container d-flex justify-content-around">
        <div class="card text-center" style="width: 25rem;">
            <div class="card-header">
                <b>Files Uploaded by {{user}}</b>
            </div>
            <ul class="list-group list-group-flush">
                {%for file in files%}
                    <li class="list-group-item">{{file.name}}: <a href="{%url 'file_view' file_name=file.file.name%}" class="link-success">Download</a>
                        [<a href="{%url 'import_file' file.id%}" class="link-primary">Import File</a>]</li>
                {%endfor%}
            </ul>
          </div>
      </div>
{%endblock%}